name: Build Windows Installer (NSIS)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-installer:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Show working directory
        run: Get-Location

      - name: List files
        run: Get-ChildItem -Recurse

      - name: Install NSIS
        run: choco install nsis -y

      - name: Build installer
        run: makensis.exe build_installer.nsi
